.idea
.idea/
*.pyc
*.sln
.vs/
TensorFlow/data/
.vscode
*.iml
*.csv
*.gz
*.exe
*.xml
*.mp4
*.jpg
*.flv
*.png
*.h5
test/
machinelearning/ckpt/
logs/
ipynb/.ipynb_checkpoints/
ipynb/checkpoint/
ipynb/chkpt/
machinelearning/tensorflowx/ckpt/
machinelearning/photo/
machinelearning/data/
